.contact{
    margin: 0px;
    text-align: center;
}

.contact-img{
    width: 350px;
    height: 300px;
}
.contact-info{
    border: 1px solid rgba(128, 0, 128, 0.301);
    background-color: rgba(128, 0, 128, 0.192);
}
.fa-map-marker-alt{
    color: red;
}
.fa-envelope{
    color: rgb(228, 146, 13);
}
.infos{
 margin-top: 30px;
 margin-bottom: 20px;
 padding: 10px;

}
.sign-up{
background-color: rgba(128, 0, 128, 0.192);
}
.input{
    border: 1px solid rgb(15, 15, 15);
    background-color: rgb(20, 17, 20);
    color:white;
    border-radius: 5px;
}
.text-area{
    width: 300px;
    height: 200px;
    background-color: black;
}
.phone{
    color: blueviolet;
}
.map{
    color: red;
}
.black{
    color: black;
}
.sign{
    color: rgb(34, 61, 218);
}

.user{
    color: rgb(226, 64, 43);
}